@import './../../styles/common.scss';
@import './../../styles/screen-breakpoints.scss';

$margin-left: 1em;
$margin-left-small: 0.5em;

.mobile_menu__toggle {
    margin: $margin-left;
    @include respond-to(small) {
        margin-left: $margin-left-small;
        margin-top: 1em;
    }
    display: block;
}

.mobile_menu div {
    transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
}

.mobile_menu__toggle_container {
    width: 50px;
    cursor: pointer;
}

.mobile_menu__toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}

.mobile_menu__toggle--open {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.mobile_menu__list {
    list-style: none;
    padding-left: 0em;
    max-height: 0;
    overflow: hidden;
    margin-left: $margin-left;
    @include respond-to(small) {
        margin-left: $margin-left-small;
    }
    transition:max-height 500ms ease-out;
    -webkit-transition:max-height 500ms ease-out;
    -moz-transition:max-height 500ms ease-out;
}

.mobile_menu__list li {
    border-bottom: 1px solid #eaeaea;
    padding: 1.25em 0;
}

.mobile_menu__list li:last-child {
    border-bottom: none;
}

.mobile_menu__list--open {
    max-height: 20em;
    display: block;
    transition:max-height 500ms ease-in;
    -webkit-transition:max-height 500ms ease-in;
    -moz-transition:max-height 500ms ease-in;
}