@import './../../styles/screen-breakpoints.scss';
@import './../../styles/colors.scss';

.projects h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.projects hr {
    border: 0;
    height: 1px;
    background-color: lighten($lighter-gray, 5%);
}

.projects__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 2em;
}

.projects__description {
    text-align: center;
}

.projects__logos {
    display: flex;
    align-self: center;
}

.projects__logo {
    height: 4em;
    width: 4em;
    border: solid 2px $lighter-gray;
    background-color: lighten($light-gray, 20%);
    border-radius: 50%;
    margin: 0.5em;
    overflow: hidden;
    text-align: center;
    align-content: center;
    align-items: center;
}

.projects__logo--darker {
    background-color: $gray;
}

.projects__image {
    width: inherit;
    height: inherit;
}

.projects__image--fit {
    width: 3em;
    height: 1em;
    margin-top: 1.5em;
}

.projects__photo {
    width: 30em;
    @include respond-to(small) {
        width: 15em;
    }
}