@import './../../styles/screen-breakpoints.scss';

.scroll_button {
    cursor: pointer;
    position: fixed;
    width: 3em;
    height: 3em;
    border: black 1px solid;
    border-radius: 3em;
    bottom: 2em;
    right: 2em;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}

.scroll_button--on {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    @include respond-to(small) {
        visibility: hidden;
    }
}

.scroll_button i {
    line-height: 2em;
    text-align: center;
    width: 100%;
}